<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.memo.Post.mapper.PostMapper">
 	<!-- Test select -->
 	<select id="selectPostListTest" resultType="map">
 		SELECT
 			*
 		FROM
 			`post`
 	</select>
 	
 	<!-- db에서 글 목록 select -->
 	<select id="selectPostListByUserId" parameterType="map" resultType="com.memo.Post.domain.Post">
 		SELECT
 			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId}
 			<if test="direction == 'next'">
 			<![CDATA[
 			AND `id` < #{standardId}
 			]]>
 			ORDER BY `id` DESC
 			</if>
 			<if test="direction == 'prev'">
 			<![CDATA[
 			AND `id` > #{standardId}
 			]]>
 			</if>
 			<if test="direction == null">
 			ORDER BY `id` DESC 
 			</if>
 		LIMIT ${limit}
 	</select>
 	
 	<!--  -->
 	<select id="selectPostIdByUserIdAsSort" parameterType="map" resultType="int">
 		SELECT 
 			`id`
 		FROM 
 			`post`
 		WHERE
 			`userId` = #{userId}
		ORDER BY `id` ${sort}
		LIMIT 1
 	</select>
 	
 	<!-- 글 쓰기 - db에 글 및 컨텐츠 insert -->
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO `post`
 		(
 			`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{subject}
 			, #{content}
 			, #{imagePath}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<!-- 글 상세 조회 - db에서 단건 select -->
 	<select id="selectPostByPostIdUserId" parameterType="map" resultType="com.memo.Post.domain.Post">
 		SELECT 
 			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId}
 		AND
 			`Id` = #{postId}
 	</select>
 	
 	<!-- 글 수정 - db에서 update -->
	<update id="updatePostByPostId" parameterType="map">
		UPDATE `post`
		SET
			`subject` = #{subject}
			, `content` = #{content}
			<!-- imagePath가 null이 아닐 때만 나타나라. -->
			<if test="imagePath != null"> 
			, imagePath = #{imagePath}
			</if>
			, `updatedAt` = NOW()
		WHERE
			`id` = #{postId}
	</update>
	
	<!-- 글 삭제 - db에서 delete -->
	<delete id="deletePostByPostId" parameterType="int">
		DELETE 
		FROM 
			`post`
		WHERE
			`id` = #{postId}
	</delete>
 </mapper>